html{
    width: 100%;
    max-width: 100vw;
}

:root{
    font-size: 16px;
    font-family: 'Roboto', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    --almost-black: #222;
    --definitely-gray: #9e9e9e;
    --grayish: #C1C8E4;
    --midnight-gray: #526173;
    --just-white: #fff;
    --really-blue: #5680E9;
    --kinda-blue: #84CEEB;
    --sky-blue: #5AB9EA;
    --meh-blue: #9bb2e1;
    --umm-blue: #A5A5F4;
    --straight-purple: #8860D0;
    --pinkish-purple: #c79cc8;
    --light-pink: #FF8DFF;
    --alpha-val: 0.2;
    --card-shadow: 0 38px 43px rgba(0,0,0, 0.09);
    --txt-shadow: 0 18px 20px rgba(0,0,0, 0.2);
    --small-elements-shadow: 2px 2px 9px 0px rgba(0,0,0, 0.2);
}

body{
    color: var(--definitely-gray);
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: auto;
    background-color: var(--just-white);
    overflow-x: hidden; 
    z-index: -2;
}


.b-lazy {
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .b-loaded {
    opacity:1;
  }


a{
    text-decoration: none;
    color: var(--just-white);
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: var(--just-white);
}

s{
    color: #DFE0E0;
}

b{
    font-weight: 700;
}

p{
  font-size: 0.87rem; 
  font-weight: 400;
  line-height: 1.3;
}

h1{
    text-align: center;
}

#desktop-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--just-white);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.navbar-content{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    margin-right: auto;
    position: relative;
}

.nav-btn-d{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6em;
    height: 3.6em;
    background-color: rgba(255,255,255,1);
    box-shadow: var(--card-shadow);
    border-radius: 0.2em;
    margin: 1em 0em 0em 1em;
    position: fixed;
    z-index: 10;
    top: 0;
    /*necessary for the rotation of the nav btn*/
    transition: all 0.2s linear;
    overflow: hidden;
}

.nav-btn-d:hover{
    box-shadow: 0 18px 23px rgba(0,0,0, 0.14);
}

.nav-btn-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-btn-icon-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;
}

.nav-btn-nubs{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0.13em 0.13em;
    transition: all 0.3s linear;
    /* background: #333; */
}

.nav-menu-container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25%;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu-container a {
    margin-bottom: 1.5em;
}



.menu-option{
    font-weight: 300;
    color: #333;
    margin-bottom: 0em;
    transition: color 0.1s ease-in-out;
}

.menu-option:hover{
    color: var(--midnight-gray);
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.2)
}


.nav-logo-container{
    width: 13em;
    height: 13em;
    margin: 0em 0em 0em auto;

}

.nav-logo-container img{
    width: 100%;
    height: 100%;
}

.nav-social-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5em;
}

.nav-social{
    font-size: 1.4em;
    color: #333;
    transition: color 0.1s ease-in-out;
}

.nav-social:hover{
    color: var(--midnight-gray);
    text-decoration: underline;
    transform: scale(1.3);
}

#mobile-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(82,97,115, 1);
}

.nav-logo-container-m{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    margin: 0.4em 1em 1em 1em;
}

.nav-logo-container-m img{
    width: 100%;
    height: 100%;
}

.nav-btn-m{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8em;
    height: 3.8em;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 3px 9px 5px rgba(0,0,0,0.13);
    border-radius: 0.2em;
    margin: 1em 0em 0em 1em;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    transition: all 0.2s linear;
}


.menu-option-m{
    font-size: 1.5rem;
    color: var(--just-white);
    font-weight: 300;
    margin-bottom: 1rem;
}

.nav-social-container-m{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height: 4em;
}

.nav-social-m{
    font-size: 2em;
    color: var(--just-white);
    transition: color 0.1s ease-in-out;
}



#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0em auto 4em auto;
    padding: 6em 0em 0em 0em;
    color: var(--just-white);
}

.header-dp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    /* border: 0.3125em solid var(--just-white); */
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    overflow: hidden;
}

.header-dp img{
    width: 92%;
    height: 92%;
    border-radius: inherit;
}

.heading{
    font-size: 3.5em;
    font-weight: 400;
    margin: 0em;
    text-align: center;
}

.sub-heading{
    margin: 0em;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0em 1.5em 0em;
}

.div-round-left{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 0.4em;
    background-color: var(--just-white);
}

.div-round-right{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 0.4em;
    background-color: var(--just-white);
}

.div-long{
    height: 7px; /*rems and ems caused rendering issues with the  height in different sections*/
    width: 9em;
    border-radius: 5px; 
    background-color: var(--just-white);
}

.special-seperator{
    width: 65%; 
    height: 0.125rem; 
    /* background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); */
    background-image: linear-gradient(to right, rgba(90,185,234, 0.8), 
    rgba(255,141,255, 0.8),rgba(136,96,208,0.8));
    border: 4px solid var(--just-white);
    border-radius: 5px;
    margin: 1.5em 0em 0em 0em;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.13);
    transition: all 0.3s ease-in-out;
}

#pseudo-body{
    width: 100%;
    height: 100%;
    background: linear-gradient(94deg, var(--sky-blue),  var(--straight-purple));
    box-shadow: -38px 0 43px rgba(0,0,0,0.14);
}

#pseudo-body #last-updated-tag-d{
    font-size: 0.7em;
    color: var(--midnight-gray);
    position: absolute;
    top: 3.2em;
    left: 8em;
}

#pseudo-body #last-updated-tag-d .update-label {
    opacity: 0.5;
}

#pseudo-body #last-updated-tag-d .update-date {
    font-weight: bold;
}

#last-updated-tag-m{
    font-size: 0.7em;
    color: var(--just-white);
    position: absolute;
    bottom: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

#last-updated-tag-m .update-label {
    opacity: 0.5;
}

#pseudo-body #last-updated-tag-m .update-date {
    font-weight: bold;
}


#pg-content{
   min-height: 250em;
   width: 84%;
   border-radius: 0.3em;
   margin-left: auto;
   margin-right: auto;
   /* background: var(--just-white); */
   /* box-shadow: 0 38px 147px rgba(0,0,0,.2); */
   /* overflow: hidden; */
}

#pg-content h1{
    font-size: 1.5rem;
    font-weight: 100;
}

#pg-content h1, h2, h3, h4, h5, h6{
    color: var(--midnight-gray);
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--just-white);
    padding: 8em 3em 6em 3em;
    border-radius: 0.3em;
    box-shadow: 0 38px 147px rgba(0,0,0,.2);
    position: relative;
}


.subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 4;
}

.subsection h1{
    margin: 0em;
}

#about .social-media-icons-container{
 position: relative;
}

.about-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3em;
}

.about-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.625em;
    height: 13.625em;
    box-shadow: var(--card-shadow);
    position: relative;
    margin-left: 2em;
    margin-bottom: 3em;
    transition: transform 0.2s ease-in-out;
    border: 0.0625em solid var(--grayish);
    border-bottom: 0em;
    border-radius: 0.2em;
}

.about-card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 70%;
    width: 100%;
}

.about-card-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    color: var(--just-white);
    background-color: var(--almost-black);
    border-radius: 0em 0em 0.2em 0.2em;
}

.about-card-icon i{
    font-size: 4em;
}


.subjects-heading{
    font-weight: 400;
    margin-top: 2em;
}

#education{
    position: relative;
}

.subjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 70%;
    padding: 0em;
}

.subjects-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    margin: 1em;
    padding: 1em 0.6em 1.7em 0.6em;
    margin-bottom: 3em;
    box-shadow: var(--card-shadow);
    border: 0.0625em solid var(--grayish);
    position: relative;
}

.subject-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}

.subject-content figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
}

.subject-content p{
    font-weight: 300;
    margin-bottom: 0em;
}

.subject-content figure img{
    width: 100%;
    height: 100%;
}

#skills-row-first{
    margin-top: 1em;
}

.skills-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 4em;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-bottom: auto;
    font-weight: 100;
    background-color: var(--just-white);
}

.skills-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    background-color: var(--just-white);
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0 0.4375rem 2.25rem rgba(0,0,0,0.08);
    border-radius: 0.2rem;
    margin-bottom: 0.4em;
    position: relative;
}

.skills-section{
    list-style: none;
    width: 100%;
    margin: 0em;
    padding: 0em;
}

.skill-block{
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    position: relative;
    transition: transform 0.09s ease-in-out;
    background-color: var(--just-white);
}

.skill-block:hover{
    transform: translateX(-1em);
    background-color: #eee;
}

.skill-building{
    font-size: 0.65rem;
    color: var(--midnight-gray);
    opacity: 0.4;
    position: absolute;
    left: 0;
}

.skill-building-alt{
    font-size: 0.85rem;
    color: var(--midnight-gray);
}

.skill{
    margin-right: auto;
}

.skill p{
    font-size: 0.85rem;
    margin: 0.2em 0em 0.2em 0em;
    text-align: center;
}

.skill-rating{
    margin-left: auto;
    color: #DFE0E0;
}

.skill-rating i{
    font-size: 0.8rem;
}

#code .skill-block:hover{
    color: var(--sky-blue)
}

#tools .skill-block:hover{
    color: var(--meh-blue);
}

#web-skills .skill-block:hover{
    color: var(--umm-blue);
}

#systems .skill-block:hover{
    color: var(--really-blue);
}

#personal .skill-block:hover{
    color: var(--straight-purple);
}

#languages .skill-block:hover{
    color: var(--light-pink);
}

.work-history-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 55%;
    min-height: 21.875rem; /*Approx 350px with REM set to 16px*/
}

.work-description{
    width: 100%;
    font-size: 0.84em;
}

.work-history-block p, h3{
    margin-top: 0.37em;
    margin-bottom: 0.37em;
}

.work-period{
    font-weight: 500;
}

.work-place{
    font-size: 0.98rem;
    font-weight: 100;
}

.work-lesson{
    margin-right: auto; 
    font-size: 0.89em;
}

.services-badge-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12.5em;
    height: 7.375em;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
}

.services-badge-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.625em;
    height: 3.625em;
    background-color: var(--just-white);
    border-radius: 0.2em;
    padding: 0.2em;
    box-shadow: var(--small-elements-shadow);
    position: absolute;
    top: 0em;
    right: -1.5em;
    z-index: 2;
}

.services-badge-icon i{
    font-size: 2em;
    color: var(--just-white);
}

.services-badge-label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--just-white);
    width: 12.5em;
    height: 3.75em;
    border-radius: 0.3em;
    padding: 0.2em;
    margin-top: auto;
    box-shadow: var(--card-shadow);
    position: relative;
    border: 0.0625em solid var(--grayish);
}

.services-badge-label h4{
    font-weight: 300;
}

.plan-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 3em;
}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.75em;
    margin: 1em 2em 1em 2em;
}

.plan-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
    margin-bottom: 0.5em;
}

.plan-img-container img{
    width: 100%;
    height: 100%;
}

.plan-txt-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 9.125em;
}

.plan-content{
    width: 100%;
}

.plan-heading{
    margin-top: 0em;
    margin-bottom: 0.2em;
}

.code-snippet-container{
    margin: 0em 0em 1em 0em;
}

.code-snippet-container h2{
    font-weight: 400;
    margin-bottom: 0em;
}

.code-img{
    display: flex;
    width: 33em;
    border-radius: 0.5rem;
    margin: 1em 0em 1em 0em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.44) 0px 20px 68px
}

.code-img img{
    width: 100%;
    height: 100%;
}

.mobile-ready-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51.5em;
    margin: 6rem 0rem 5rem 0rem;
    filter: grayscale(88%);
    transition: 0.2s filter ease-in-out, 0.2s transform linear;
}

.mobile-ready-img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}

.mobile-ready-img img{
    width: 100%;
    height: 100%;
}


.projects-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects-card{
    font-size: 0.89em;
    width: 28.4375em;
    border: 0.0625em solid var(--grayish);
    border-radius: 0.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0 38px 43px rgba(0,0,0, 0.09);
    position: relative;
    overflow: hidden;
    transition: all 0.16s ease-in-out;
}

.projects-card:hover{
    box-shadow: 0 18px 23px rgba(0,0,0, 0.2);
}

.projects-card i{
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
}

.projects-card a{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.projects-card:hover .projects-card-img{
    filter: brightness(70%);
}

.projects-card-img{
    height: 20.5em;
    width: 100%;
    margin: 0em;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transition: all 0.16s ease-in-out;

}

.projects-card-description{
    padding: 1.5em;
    height: 10.625em;
}


.projects-card-description h4, h6, p{
    margin-top: 0em;
    margin-bottom: 1em;
}

.projects-card-description h4{
    font-weight: 400;
}

.projects-card-description p{
    color: var(--midnight-gray);
    font-weight: 300;
}

button:focus{
    outline: 0;
}

.pg-btn{
    font-size: 0.87rem;
    color: #fff;
    font-weight: 400;
    display: block;
    width: 11.1rem;
    height: 3.5rem;
    background-image: linear-gradient(93deg, #5AB9EA, #8860D0);
    background-clip: padding-box;
    background-size: 100%;
    border: 0.375rem solid rgba(255,255,255, 0.8);
    border-radius: 4em;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.pg-btn::before{
    content: "";
    width: 100%;
    height: 130%;
    position: absolute;
    z-index: -1;
    top: -0.1875rem; /*-3px*/
    left: -0.1875rem; /*-3px*/
    border-radius: 4em;
    filter: blur(0.3125rem); /*5px*/
    background-image: linear-gradient(93deg, #5AB9EA, transparent);
    transition: all ease-in-out 0.3s;
  }

  .pg-btn::after{
    content: "";
    width: 100%;
    height: 130%;
    position: absolute;
    z-index: -1;
    top: -0.1875rem;  /*-3px*/
    left: 0.1875rem;  /*3px*/
    border-radius: 4em;
    filter: blur(0.3125rem); /*5px*/
    background-image: linear-gradient(93deg, transparent, #8860D0);
    transition: all ease-in-out 0.3s;
  }

  .pg-btn:hover::before{
    filter: blur(3px); /*3px*/
    height: 135%;
    top: -0.375rem; /*-6px*/
    left: -0.4375rem; /*-7px*/
  }

  .pg-btn:hover::after{
    filter: blur(3px); /*3px*/
    height: 135%;
    top: -0.375rem; /*-6px*/
    left: 0.4375rem; /*7px*/
  }


.pg-btn:hover{
    text-shadow: 0rem 0rem 0.3125rem #fff; /*0px 0px 5px*/
    border-color: rgba(255,255,255,0.95);
    cursor: pointer;
} 



.pg-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--just-white);
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


#all-projects-btn{
    margin-top: 5em;
}

#contact{
    position: relative;
}


.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 45vh;
    margin-top: 5em;
    margin-bottom: 5em;
}

.contact-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5em;
}

.contact-box p{
    color: var(--midnight-gray);
    margin-top: 1em;
}

.contact-icon{
    font-size: 4.5rem;
}

.social-media-icons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    position: absolute;
    left: 0em;
    right: 0em;
    bottom: 3em;
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-bottom: 1.2em;
}

.social-media-icons a{
    text-decoration: inherit;
    color: inherit;
}

.social-media-icons i{
    font-size: 2rem;
    transition: all 0s ease-in-out;
}

.social-media-icons i:hover{
    color: var(--midnight-gray);
    transform: scale(1.3);
}


#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em;
    margin: 2em auto 0em auto;
    padding: 0em 0em 4em 0em;
    color: var(--just-white);
    position: relative;
}

#footer .attribution a{
    color: var(--just-white);
}

/*----------COLOURS----------*/
::selection{
    color: var(--just-white);
    background: #333;
}


.really-blue{
    background-color: var(--really-blue);
}

.kinda-blue{
    background-color: 
var(--kinda-blue);
}

.sky-blue{
    background-color: var(--sky-blue);
}

.grayish{
    background-color: var(--grayish);
}

.midnight-gray{
    background-color: var(--midnight-gray);
}

.straight-purple{
    background-color: var(--straight-purple);
}

.pinkish-purple{
   background-color: var(--pinkish-purple);
}

.meh-blue{
    background-color: var(--meh-blue);
}

.light-pink{
    background-color: var(--light-pink);
}

.pinkish-blue{
    background-color: var(--umm-blue);
}

.almost-black{
    background-color: var(--almost-black);
}

.bg-gradient{
    background: linear-gradient(141deg, var(--sky-blue),  var(--straight-purple));
}

.really-blue-txt{
    color: var(--really-blue);
}

.kinda-blue-txt{
    color: 
var(--kinda-blue);
}

.sky-blue-txt{
    color: var(--sky-blue);
}

.grayish-txt{
    color: var(--grayish);
}

.straight-purple-txt{
    color: var(--straight-purple);
}

.pinkish-purple-txt{
   color: var(--pinkish-purple);
}

.meh-blue-txt{
    color: var(--meh-blue);
}

.light-pink-txt{
    color: var(--light-pink);
}

.pinkish-blue-txt{
    color: var(--umm-blue);
}

.almost-black-txt{
    color: #666;
}

.deep-gray-txt{
   color: var(--midnight-gray);
}

.white-txt{
    color: var(--just-white);
}

.gradient-txt{
    background-image: linear-gradient(-225deg, var(--sky-blue) 0%, var(--straight-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sky-blue-txt-shadow{
    text-shadow: 0 18px 20px rgba(90,185,234, var(--alpha-val));
}

.highlighted{
    font-weight: 100;
    background: linear-gradient(to right, rgba(90,185,234, 0.2), 
    rgba(255,141,255, 0.2),rgba(136,96,208,0.2));
    padding-left: 0.4em;
    padding-right: 0.25em;
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    border-radius: 0.31rem;
    transition: 0.05s all ease-in;
}

.highlighted:hover{
    color: var(--straight-purple);
}

.highlighted i{
    font-size: 0.8rem;
    transition: inherit;
}

.highlighted:hover i{
    color: var(--straight-purple);
    transform: rotate(-30deg);
}

.sky-blue-border-thick{
    border: 0.425em solid var(--sky-blue);
}

.light-pink-border-thick{
    border: 0.425em solid var(--light-pink);
}

.really-blue-border-thick{
    border: 0.425em solid var(--really-blue);
}

.straight-purple-border-thick{
    border: 0.425em solid var(--straight-purple);
}

.sky-blue-border-thin{
    border: 0.05rem solid var(--sky-blue);
}

.light-pink-border-thin{
    border: 0.05rem solid var(--light-pink);
}

.really-blue-border-thin{
    border: 0.05rem solid var(--really-blue);
}

.straight-purple-border-thin{
    border: 0.05rem solid var(--straight-purple);
}


.meh-blue-border-thin{
    border: 0.05rem solid var(--meh-blue);
}

.pinkish-blue-border-thin{
    border: 0.05rem solid var(--umm-blue);
}


/*----------SHAPES & FORMATTING----------*/
.pin{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
}

.top-right{
    right: -0.1875rem;
    top: -0.1875rem;
}

.top-left{
    left: -0.1875rem;
    top: -0.1875rem;
}

.bottom-right{
    right: -0.1875rem;
    bottom: -0.1875rem;
}

.bottom-left{
    left: -0.1875rem;
    bottom: -0.1875rem;
}

.extra-top-margin-5{
    margin-top: 5em
}

.extra-bottom-margin-4{
    margin-bottom: 4em;
}

.section-divider{
    width: 100%;
    height: 1px;
    margin-top: 2.5em;
}

.subsection-divider{
    width: 70%;
    height: 1px;
    margin-top: 7em;
    margin-bottom: 6em;
}

.sub-divider{
    width: 100%;
    height: 0.1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: auto;
}

.main-heading{
    text-align: center;
    position: absolute;
    top: 2em;
}

.standard-p{
    width: 50%;
    font-weight: 400;
}

.standard-p a{
    color: var(--midnight-gray);
    /* text-decoration: underline; */
}

.target-word{
    font-weight: 700;
}

.big-p{
    color: var(--midnight-gray);
    font-size: 4em;
    font-weight: 100;
    width: 60%;
    margin-bottom: 0em;
}

b{
    font-weight: 800;
}

.attribution{
    font-size: 0.8em;
    text-align: center;
    font-weight: 100;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto; 
    opacity: 0.4;
}

.attribution a{
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
}

.attribution a:hover{
    color: #333;
}

.txt-shadow{
    text-shadow: var(--txt-shadow);
}

.no-bottom-margin{
    margin-bottom: 0em !important;
}

.txt-align-right{
    text-align: right;
}

/*----------TRANSITIONS----------*/

.hide-me{
    visibility: hidden;
}


.no-display{
    display: none !important;
}

.resizable-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 10000px; /*Can only transition max-height*/
    margin-top: 2em;
    /*cubic-bezier fixes the delay on the closing animation*/
    transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) 0s,
                opacity 0.8s ease-in-out,
                transform 0.8s ease-in-out; 
    overflow: hidden;
    opacity: 1;
    transform: scale(1);
}

.close-content{
    max-height: 0em;
    opacity: 0;
    transform: scale(0.8);
}

.close-divider{
    width: 0%;
}

.fade-away{
    opacity: 0; 
    transform: translateX(5px);
    
}

.nav-btn-m-transition{
    transform: rotate(135deg); 
}

.transform-nub{
    background: #666;
    border-radius: 2px;
}

.shift-nubs-left{
    margin-left: 13px;
}

.shift-nubs-right{
    margin-right: 13px;
}

/*----------Media Queries----------*/

/*landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    :root{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    :root {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
:root {
    font-size: 22px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
:root {
    font-size: 17px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    :root {
        font-size: 16px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    :root {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    :root {
        font-size: calc(16px * 1.3);
        }
    }
  
/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    :root {
        font-size: calc(16px * 2.4);
        }
    }

/*Landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    p{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    p {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
p {
    font-size: 19px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
p {
    font-size: 17px;
    word-spacing: 1px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    p {
        font-size: calc(16px * 1.3);
        }
    }

/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    p {
        font-size: calc(16px * 2.4);
        }
    }

@media (max-device-width: 500px){
    h1 {
        font-size: 1.5rem;
            }
        }

@media (max-device-width: 500px){
    h2 {
        font-size: 1.1rem;
            }
        }

@media (max-width: 1100px){
    #desktop-nav {
        display: none;
            }
        }

@media (max-width: 1100px){
    .nav-btn-d {
        display: none;
            }
        }

@media (min-width: 1100px){
    .nav-btn-m {
        display: none;
            }
        }

@media (max-device-width: 1100px){
    .nav-btn-nubs {
        width: 9px;
        height: 9px;
            }
        }

@media (max-device-width: 500px){
    .nav-btn-nubs {
        width: 5px;
        height: 5px;
            }
        }

@media (min-width: 1100px){
    #mobile-nav {
        display: none;
            }
        }

@media (max-device-width: 500px){
    .nav-social-container-m {
        width: 80%;
            }
        }

@media (max-device-width: 1100px){
    #pseudo-body {
        height: 100%;
    background: linear-gradient(90.3deg, var(--sky-blue),  var(--straight-purple));
            }
        }


@media (max-device-width: 1100px){
    #pseudo-body #last-updated-tag-d{
        display: none;
            }
        }

@media (max-width: 1100px){
    #pg-content {
        width: 93%;
            }
        }

@media (max-device-width: 1100px){
    #pg-content {
        width: 96%;
            }
        }

@media (max-device-width: 1100px){
    #header {
        width: 90%;
            }
        }

@media (max-width: 1100px){
    #header .heading {
        font-size: 2.5em;
            }
        }

@media (max-device-width: 500px){
    #header .heading {
        font-size: 2.2em;
            }
        }

@media (max-device-width: 1100px){
    .main-section{
        padding: 8em 1em 6em 1em;
            }
        }

/* @media (max-device-width: 1100px){
    .special-seperator {
        width: 85%;
            }
        } */

@media (max-device-width: 1100px){
    .section-divider {
        margin-top: 1.5em;
            }
        }

@media (max-device-width: 500px){
    .section-divider {
        margin-top: 1em;
            }
        }

@media (max-device-width: 1100px){
    .subsection-divider {
        width: 80%;
            }
        }

@media (max-width: 1100px){
    .standard-p {
        width: 58%;
            }
        }

@media (max-device-width: 1100px){
    .standard-p {
        width: 80%;
            }
        }

@media only screen 
and (max-device-width: 1100px) 
and (orientation: landscape) {
    .standard-p{
        width: 60%;
    }

}

@media (max-width: 800px){
    .standard-p {
        width: 90%;
            }
        }

@media (max-device-width: 800px){
    .standard-p {
        width: 80%;
            }
        }

        
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .standard-p{
        width: 75%;
    }

}        

@media (max-width: 500px){
    .standard-p {
        width: 96%;
            }
        }

@media (max-device-width: 1100px){
    .big-p {
        font-size: 3em;
        text-align: center;
        width: 80%;
            }
        }

@media (max-device-width: 500px){
    .big-p {
        font-size: 2em;
        width: 70%;
            }
        }

@media (max-device-width: 1100px){
    .about-card-container {
        /* flex-wrap: wrap; */
        flex-direction: column;
            }
        }

@media only screen 
and (max-device-width: 1100px) 
and (orientation: landscape) {
    .about-card-container{
        flex-direction: row;
    }

}

@media (max-device-width: 1100px){
    .about-card {
        margin-bottom: 2em;
        margin-left: 0em;
            }
        }

@media only screen 
and (max-device-width: 800px) 
and (orientation: landscape) {
    .about-card{
        font-size: 17px;
    }

}

@media only screen
and (max-device-width: 1100px) 
and (orientation: landscape) {
    .about-card{
       margin-left: 1em;
       margin-right: 1em;
    }

}

@media (max-width: 500px){
    .subjects {
        width: 87%;
            }
        } 


@media (max--width: 1100px){
    .subjects-bar {
        flex-direction: column;
        width: 60vw;
        padding: 1em;
            }
        } 

@media (max-device-width: 1100px){
    .subjects-bar {
        flex-direction: column;
        padding: 1em;
            }
        } 

@media (max-device-width: 500px){
    .subjects-bar {
        flex-direction: column;
        padding: 1em;
            }
        } 
        
@media (max-width: 1100px){
    .subject-content {
        width: 100%;
            }
        }

@media (max-device-width: 1100px){
    .subject-content {
        width: 100%;
            }
        }

@media (max-width: 1100px){
    .skills-row {
        width: 90%;
            }
        }

@media (max-width: 1100px){
    .skills-row {
        width: 95%;
            }
        }

@media (max-width: 500px){
    .skills-row {
        margin-top: 0em;
            }
        }

@media (max-width: 500px){
    .skills-row {
        flex-direction: column;
            }
        }

@media (max-device-width: 1100px){
    .skills-container {
        width: 50%;
            }
        }

@media (max-device-width: 500px){
    .skills-container {
        width: 70%;
        margin-bottom: 2.5em;
            }
        }

@media (max-device-width: 1100px){
    .skills-icon {
        padding: 0.6rem;
            }
        }

@media (max-device-width: 500px){
    .skills-icon {
        margin-bottom: 0.2em;
            }
        }

@media (max-width: 1100px){
    .skill-block {
        flex-direction: column;
        padding: 0.3em 0em 0.3em 0em;
            }
        }

@media (max-device-width: 1100px){
    .skill-block:hover {
        transform: none;
            }
        }

@media (max-width: 1100px){
    .skill-building {
        font-size: 0.75rem;
        position: relative;
            }
        }

@media (max-width: 1100px){
    .skill {
        margin-right: 0em;
            }
        }

@media (max-width: 1100px){
    .skill p{
        font-size: 1rem;
            }
        }

@media (max-width: 1100px){
    .skill-rating {
        margin-left: 0em;
            }
        }

@media (max-width: 500px){
    .skill-rating i{
        font-size: 1.2em;
            }
        }

@media (max-width: 1100px){
    .work-history-block{
        width: 80%;
            }
        }

@media (max-width: 500px){
    .work-history-block{
        width: 95%;
            }
        }

@media (max-width: 1100px){
    .contact-container{
        width: 100%;
            }
        }

@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .contact-container{
        height: auto;
    }

}

@media (max-width: 1100px){
    .contact-block{
        margin-top: 1.5em;
            }
        }

@media (max-width: 500px){
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 0em;
        margin-bottom: 1em;
            }
        }

@media (max-width: 500px){
    .contact-box{
        margin-bottom: 1em;
            }
        }
        
@media (max-width: 1100px){
    .social-media-icons-container{
        width: 65%;
            }
        }

@media (max-width: 500px){
    .social-media-icons-container{
        width: 90%;
        flex-wrap: wrap;
        position: relative;
            }
        }

@media (max-width: 500px){
    .social-media-icons{
        margin-left: 1em;
        margin-right: 1em;
            }
        }

@media (max-width: 1100px){
    .services-badge-container{
        flex-direction: row;
        flex-wrap: wrap;
            }
        }

@media (max-device-width: 1100px){
    .services-badge-container{
        flex-direction: column;
            }
        }

@media (max-width: 1100px){
    .services-badge{
        margin-top: 2em; 
        margin-bottom: 1em;
            }
        }


@media (max-width: 500px){
    .services-badge-icon{
        right: inherit;
            }
        }

@media (max-width: 1100px){
    .services-badge-label{
        width: 13em;
            }
        }

@media (max-device-width: 1100px){
    .services-badge-label{
        width: 16.5em;
            }
        }

@media (max-width: 500px){
    .plan{
        margin: 1em;
            }
        }

@media (max-width: 1100px){
    .plan-container{
        width: 100%;
        flex-wrap: wrap;
            }
        }

@media (max-width: 1100px){
    .code-img{
        width: 27em;
        border-radius: 0.3rem;
            }
        }

@media (max-width: 500px){
    .code-img{
        width: 18.5em;
        border-radius: 0.2rem;
            }
        }

@media (max-width: 320px){
    .code-img{
        width: 18em;
        border-radius: 0.25rem;
            }
        }

@media (max-width: 1100px){
    .mobile-ready-img{
        width: 31em;
            }
        }

@media (max-device-width: 1100px){
    .mobile-ready-img{
        width: 27em;
            }
        }

@media (max-width: 500px){
    .mobile-ready-img{
        width: 20em;
            }
        }

@media (max-width: 320px){
    .mobile-ready-img{
        width: 19em;
            }
        }

@media (max-width: 1100px){
    .projects-container{
        flex-direction: column;
        width: 90%;
            }
        }

@media (max-device-width: 1100px){
    .projects-container{
        flex-direction: column;
            }
        }

@media (max-device-width: 1100px){
    .projects-container{
        flex-direction: column;
            }
        }


@media (max-width: 1100px){
    .projects-card{
        width: 85%;
            }
        }

@media (max-device-width: 1100px){
    .projects-card{
        width: 75vw;
            }
        }

@media only screen 
and (max-device-width: 1100px) 
and (orientation: landscape) {
    .projects-card{
        width: 58vw;
    }

}

@media only screen
and (max-device-width: 900px) 
and (orientation: landscape) {
    .projects-card{
        width: 75%;
    }

}

@media (max-width: 800px){
    .projects-card{
        width: 90%;
            }
        }

@media (max-device-width: 800px){
    .projects-card{
        width: 70.5vw;
            }
        }

@media (max-width: 500px){
    .projects-card{
        width: 86vw;
            }
        }

@media (max-width: 400px){
    .projects-card{
        width: 85vw;
            }
        }

@media (max-width: 360px){
    .projects-card{
        width: 85vw;
            }
        }

@media (max-width: 1100px){
    .projects-card-img{
        height: 400px;
            }
        }

@media (max-width: 800px){
    .projects-card-img{
        height: 300px;
            }
        }

@media (max-width: 1100px){
    .projects-card-description{
        height: auto;
        padding: 1.5em 1.5em 5em 1.5em;
            }
        }

@media (max-device-width: 1100px){
    .projects-card-description{
        height: auto;
            }
        }

@media (max-device-width: 500px){
    .projects-card-description{
        padding-bottom: 2em;
            }
        }

@media (max-width: 800px){
    .projects-card-description{
        height: auto;
            }
        }

@media (max-width: 500px){
    #contact{
        padding-bottom: 2em;
            }
        }

@media (max-width: 500px){
    .contact-icon{
        margin-bottom: 0.2em;
            }
        }

@media (max-width: 1100px){
    .txt-shadow {
       text-shadow: 0 18px 30px rgba(0,0,0,0.1);
            }
        }
